p,a,h1,h2,h3,h4,h5,h5,label,li{
    margin: 0;
    font-size: 20px;
    @media screen and (max-width: 1000px) {
        font-size: 18px;
    }
    @media screen and (max-width: 767px) {
        font-size: 12px;
    }
}
ol, ul {
    padding-left: 1rem;
}
body{
    width: 100%;
    max-width: 90%;
    // min-height: 100vh;
    margin: 0 auto;
    @media screen and (max-width: 1000px) {
        max-width: 90%;
    }
}
.currentDate{
    // margin-top: 30px;
}
.nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    &__logo{
        width: 100px;
        height: auto;
        display: block;
        &--img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &__desc{
        text-align: center;

    }
}

.container{
    width: 100%;
    min-height: 100vh;
    position: relative;
    max-width: 100%;
    &__content{
        width: 100%;
        height: 100%;
        .boxMatricula{
            width: 100%;
            &--desc{
                color: black;
            }
            .tableMatricula{
                // width: 600px;
                width: 80%;
                margin: 0 auto;
                margin-top: 10px;
                @media screen and (max-width: 767px) {
                }
                &--header{
                    width: 100%;
                    height: 30px;
                    background-color: #ccc;
                    color: black;
                    display: flex;
                    flex-wrap: nowrap;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid black;
                    text-align: center;
                    .head1{
                        // width: 300px;
                        width: 33%;
                        height: 100%;
                        margin: 0;
                        border-right: 1px solid black;
                        font-weight: 700;
                        @media screen and (max-width: 767px) {
                            font-size:10px;
                        }
                    }
                    .head2{
                        // width: 150px;
                        height: 100%;
                        width: 33%;
                        margin: 0;
                        border-right: 1px solid black;
                        font-weight: 700;
                        @media screen and (max-width: 767px) {
                            font-size:10px;
                        }
                    }
                    .head3{
                        // width: 150px;
                        height: 100%;
                        width: 33%;
                        margin: 0;
                        font-weight: 700;
                        @media screen and (max-width: 767px) {
                            font-size:10px;
                        }
                    }
                }
                &--body{
                    width: 100%;
                    height: 30px;
                    color: black;
                    display: flex;
                    flex-wrap: nowrap;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid black;
                    text-align: center;
                    @media screen and (max-width: 767px) {
                        height: 20px;
                    }
                    .body1{
                        width: 300px;
                        // height: 100%;
                        width: 33%;
                        margin: 0;
                        border-right: 1px solid black;
                        @media screen and (max-width: 767px) {
                        }
                    }
                    .body2{
                        width: 150px;
                        // height: 100%;
                        width: 33%;
                        margin: 0;
                        border-right: 1px solid black;
                        @media screen and (max-width: 767px) {
                        }
                    }
                    .body3{
                        // width: 150px;
                        width: 33%;
                        height: 100%;
                        margin: 0;
                        @media screen and (max-width: 767px) {
                        }
                    }
                }
            }
        }
        .boxAtracciones{
            width: 100%;
            margin-top: 15px;
            .tableAtracciones{
                // width: 700px;
                width: 90%;
                margin: 0 auto;
                margin-top: 10px;
                @media screen and (max-width: 1000px) {
                }                
                &--header{
                    width: 100%;
                    height: 30px;
                    background-color: #ccc;
                    color: black;
                    display: flex;
                    flex-wrap: nowrap;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid black;
                    text-align: center;
                    .head1{
                        // width: 200px;
                        width: 30%;
                        height: 100%;
                        margin: 0;
                        border-right: 1px solid black;
                        font-weight: 700;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        @media screen and (max-width: 1000px) {
                            font-size: 15px;
                        }
                        @media screen and (max-width: 767px) {
                            font-size:12px;
                        }
                    }
                    .head2{
                        // width: 500px;
                        width: 70%;
                        height: 100%;
                        margin: 0;
                        font-weight: 700;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        @media screen and (max-width: 1000px) {
                            font-size: 15px;
                        }
                        @media screen and (max-width: 767px) {
                            font-size:12px;
                        }
                    }
                }
                &--body{
                    width: 100%;
                    height: 100%;
                    &--single{
                        width: 100%;
                        height: 60px;
                        color: black;
                        display: flex;
                        flex-wrap: nowrap;
                        justify-content: center;
                        align-items: center;
                        border: 1px solid black;
                        text-align: center;
                        @media screen and (max-width: 767px) {
                            height: 50px;
                        }
                        .body1{
                            // width: 200px;
                            width: 30%;
                            height: 100%;
                            margin: 0;
                            border-right: 1px solid black;
                            // font-size: px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            text-align: left;
                            padding: 0 5px;
                            @media screen and (max-width: 1000px) {
                                font-size: 15px;
                            }
                            @media screen and (max-width: 767px) {
                                font-size:12px;
                            }
                        }
                        .body2{
                            // width: 500px;
                            width: 70%;
                            height: 100%;
                            margin: 0;
                            font-size: 17px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            text-align: left;
                            padding: 0 5px;
                            @media screen and (max-width: 1000px) {
                                font-size: 15px;
                            }
                            @media screen and (max-width: 767px) {
                                font-size:11px;
                            }
                        }
                    }
                }
            }
            &__note{
                font-style: italic;
                margin-top: 10px;
            }
        }

        .boxPasaportes{
            width: 100%;
            margin-top: 15px;
            .tablePasaportes{
                // width: 500px;
                width: 88%;
                margin: 0 auto;
                margin-top: 10px;
                @media screen and (max-width: 767px) {
                }
                &--header{
                    width: 100%;
                    height: 30px;
                    background-color: #ccc;
                    color: black;
                    display: flex;
                    flex-wrap: nowrap;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid black;
                    text-align: center;
                    @media screen and (max-width: 767px) {
                        height: 20px;
                    }                    
                    .head1{
                        width: 125px;
                        // height: 100%;
                        width: 25%;
                        margin: 0;
                        border-right: 1px solid black;
                        font-weight: 700;
                        @media screen and (max-width: 767px) {
                        }
                    }
                    .head2{
                        width: 125px;
                        // height: 100%;
                        width: 25%;
                        margin: 0;
                        border-right: 1px solid black;
                        font-weight: 700;
                        @media screen and (max-width: 767px) {
                        }
                    }
                    .head3{
                        width: 125px;
                        // height: 100%;
                        width: 25%;
                        margin: 0;
                        border-right: 1px solid black;
                        font-weight: 700;
                            @media screen and (max-width: 767px) {
                            }
                    }
                    .head4{
                        // width: 125px;
                        width: 25%;
                        height: 100%;
                        margin: 0;
                        font-weight: 700;
                            @media screen and (max-width: 767px) {
                            }
                    }
                }
                &--body{
                    width: 100%;
                    height: 100%;
                    &--single{
                        width: 100%;
                        height: 30px;
                        color: black;
                        display: flex;
                        flex-wrap: nowrap;
                        justify-content: center;
                        align-items: center;
                        border: 1px solid black;
                        text-align: center;    
                        @media screen and (max-width: 767px) {
                            height: 20px;
                        }                
                        .body1{
                            width: 125px;
                            // height: 100%;
                            width: 25%;
                            margin: 0;
                            border-right: 1px solid black;
                            @media screen and (max-width: 767px) {
                            }
                        }
                        .body2{
                            width: 125px;
                            // height: 100%;
                            width: 25%;
                            margin: 0;
                            border-right: 1px solid black;
                            @media screen and (max-width: 767px) {
                            }
                        }
                        .body3{
                            width: 125px;
                            // height: 100%;
                            width: 25%;
                            margin: 0;
                            border-right: 1px solid black;
                            @media screen and (max-width: 767px) {
                            }
                        }
                        .body4{
                            // width: 125px;
                            width: 25%;
                            height: 100%;
                            margin: 0;
                            @media screen and (max-width: 767px) {
                            }
                        }
                    }
                }
            }
        }

        .boxCombos{
            width: 100%;
            margin-top: 15px;
            .listCombos{
                width: 100%;
                padding: 0;
                margin-top: 15px;
                &--single{
                    list-style: none;
                }
            }
            &__afiliados{
                display: none;
                &.active{
                    display: block;
                }
            }
        }

        .boxRecomendaciones{
            width: 100%;
            margin-top: 15px;
            li{
                list-style: none;
            }
        }
        .copyEnd{
            text-align: center;
            width: 100%;
            margin: 15px 0;
        }
    }
}

#qrcode{
    width: 110px;
    height: 100px;
    margin: 0 auto;
    canvas{
        width: 100%;
        height: 100%;
    }
    @media screen and (max-width: 767px) {
        width: 80px;
        height: 80px;
    }
    img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

footer{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    p{
        color: #9b9999;
        text-transform: capitalize;
        text-decoration: none;
        margin: 0;
        font-size: 13px;
        line-height: 13px;
    }
}